

<div class='user-id' data-id="<%= @task.user.id %>"></div>
<div class='task-id' data-id="<%= @task.id %>"></div>


<div id='top'>

	<h1><%= @task.title %></h1>
	<h3><%= @task.description %></h3>
    <h3>DUE DATE: <%= @task.due_date %></h3>
    <h3>Completed: <%= @task.completed %></h3>

    <button id='task-completed' data-val="<%= !@task.completed %>" data-id="<%= @task.id %>">Mark completed</button><br><br>


      <td><%= link_to "Edit", edit_user_task_path(@task.user, @task) %></td>
    <td><%= link_to "Delete", user_task_path(@task.user, @task), :method => :delete %></td>


</div>

<div id='mid'>

    <% if @task.job != nil %>   
        <h3>LINKED JOB: <%= @task.job.company %></h3>
    <% else %>
        <h3>No linked job</h3>
    <% end %>

    <% if @task.document != nil %>   
        <h3>LINKED DOCUMENT: <%= @task.document.title %></h3>
    <% else %>
        <h3>No linked Document</h3>
    <% end %>


    <% if @task.contact != nil %>   
        <h3>LINKED CONTACT: <%= @task.contact.last_name %></h3>
    <% else %>
        <h3>No linked contact</h3>
    <% end %>


    

    
    <div id='docs' class='links-col'>
        <%= render 'documents/document_task_dropdown' %>
    </div>    


    <div id='contacts' class='links-col'>
         <%= render 'contacts/contact_task_dropdown' %>
        
    </div>    


    <div id='Jobs' class='links-col'>
        <%= render 'jobs/job_task_dropdown' %>
    </div>  


</div>



<script>


$(document).ready(function () {
    user_id = $(".user-id").data("id")
    task_id = $(".task-id").data("id")

    $.get(`/users/${user_id}/tasks/${task_id}.json`, function(data) {
        linkTaskContact()
        linkTaskDocument()
        linkTaskJob()

        // unlinkContact()
    });
    
})



// const unlinkContact = function(){
//     let contactId = $('#task-contact-ids')
//     $('.remove-1').on('click', function(e) {
//         // e.preventDefault()
//         console.log(this)
//         var c_id = form.serialize()

//         // $.ajax({url: `/users/${user_id}/tasks/${task_id}/unlink_contact`, 
//         //     data: c_id, 
//         //     type: "PATCH"})
//     })
// }


const linkTaskContact = function() {
    let contactId = $('#task-contact-ids')
    $('#btn-add-contact').on('click', function(e) {
        e.preventDefault()
        var form = $('#add-contact')
        var action = form.attr('action')
        var c_id = form.serialize()

        $.ajax({url: `/users/${user_id}/tasks/${task_id}/add_contact`, 
            data: c_id, 
            type: "PATCH"})
    })
}



const linkTaskDocument = function() {
    let documentId = $('#task-document-ids') //NECESSARY?
    $('#btn-add-document').on('click', function(e) {
        e.preventDefault()
        var form = $('#add-document')
        var action = form.attr('action') //necessary?
        var d_id = form.serialize()

        $.ajax({url: `/users/${user_id}/tasks/${task_id}/add_document`, 
            data: d_id, 
            type: "PATCH"})
    })
}



const linkTaskJob = function() {
    let jobId = $('#task-job-ids')
    $('#btn-add-job').on('click', function(e) {
        e.preventDefault()
        var form = $('#add-job')
        var action = form.attr('action')
        var j_id = form.serialize()

        $.ajax({url: `/users/${user_id}/tasks/${task_id}/add_job`, 
            data: j_id, 
            type: "PATCH"})
    })
}



user_id = $(".user-id").data("id")
task_id = $(".task-id").data("id")

$('#task-completed').on('click', function() {

    $.get(`/users/${user_id}/tasks/${task_id}/completed?q=${'true'}`, function(data) {
    })
})



</script>