

<div id='top'>

	<h1><%= @task.title %></h1>
	<h3>DUE DATE: <%= @task.due_date %></h3>
	<h3><%= @task.description %></h3>

</div>

<div id='mid'>
    
    <div id='docs' class='links-col'>
        <%= render 'documents/document_task_dropdown' %>
        <h3>Linked Documents</h3>
        <div id='document-list'></div>
    </div>    


    <div id='contacts' class='links-col'>
         <%= render 'contacts/contact_task_dropdown' %>
        <h3>Linked Contacts</h3>
        <div id='contact-list'></div>
        
    </div>    


    <div id='Jobs' class='links-col'>
        <%= render 'jobs/job_task_dropdown' %>
        <h3>Linked Jobs</h3>
        <div id='job-list'></div>


    </div>  


</div>