


<div class='user-id' data-id="<%= @job.user.id %>"></div>
<div class='job-id' data-id="<%= @job.id %>"></div>


<div id='top'>
	<div id='show-title'></div>
	<div id='job-link'></div>
	<div id='job-date-posted'></div>
</div>




<div id='mid'>
    
    <div id='docs' class='links-col'>
    	<%= render 'documents/document_dropdown' %>
    	<h3>LINKED DOCUMENTS</h3>
    	<div id='document-list'></div>
    	<%= render partial: "documents/document", collection: @job.documents || "No Linked Documents" %>
    </div>    


    <div id='contacts' class='links-col'>
		 <%= render 'contacts/contact_dropdown' %>
    	<h3>LINKED CONTACTS</h3>
    	<div id='contact-list'></div>
    	<%= render partial: "contacts/contact", collection: @job.contacts || "No Linked Contacts" %>
    </div>    


    <div id='Tasks' class='links-col'>

    	<h3>LINKED TASKS</h3>
    	<%= link_to "Create Task", new_user_task_path(@job.user), class: 'button' %>
    	<div id='task-list'></div>
    	<%= render partial: "tasks/task", collection: @job.tasks || "No Linked Tasks" %>

    </div>  


</div>




<div class='bottom'>

	<h3 class='links-col-50'> View Job Description </h3>

	<h3 class='links-col-50'> View Company Description </h3>

</div>







<script>


$(document).ready(function () {
	user_id = $(".user-id").data("id")
	job_id = $(".job-id").data("id")

	$.get(`/users/${user_id}/jobs/${job_id}.json`, function(data) {
		console.log('data', data)
	    addJobDetails(data)

	    nextButton()
	    previousButton()

		linkContact()
		linkDocument()
	// unlinkContact()
	});
	
})


const linkContact = function() {
	let contactId = $('#job-contact-ids')
	$('#btn-add-contact').on('click', function(e) {
		e.preventDefault()
		var form = $('#add-contact')
		var action = form.attr('action')
		var c_id = form.serialize()

		$.ajax({url: `/users/${user_id}/jobs/${job_id}/add_contact`, 
			data: c_id, 
			type: "PATCH"})
	})
}


const linkDocument = function() {
	let documentId = $('#job-document-ids')
	$('#btn-add-document').on('click', function(e) {
		e.preventDefault()
		var form = $('#add-document')
		var action = form.attr('action')
		var d_id = form.serialize()

		$.ajax({url: `/users/${user_id}/jobs/${job_id}/add_document`,
		data: d_id,
		type: "PATCH"})
	})
}







const addJobDetails = function (data) {
	// debugger
	job = new Job(data, user_id)
	$('#show-title').append(job.jobTitle())
	$('#job-date-posted').append(job.datePosted())
	$('#job-link').append(job.jobLink())
}


const nextButton = function() {
	$('.btn-next').on('click', function() {
		let nextPg = `${job_id}/next`
		window.location.href = nextPg;
	})
}

const previousButton = function() {
	$('.btn-previous').on('click', function() {		
		let previousPg = `${job_id}/previous`
		window.location.href = previousPg;
	})
}





const appendDocument = function (document) {
	var descriptionText = "<p>" + document['title'] + "</p>"
    $("#document-list").append(descriptionText);
}


const getDocument = function (data) {
    jQuery(data['documents']).each(function(i, document){
        appendDocument(document)
    })
}








const unlinkContact = function() {
	$('span#' +  4 + '.remove').on('click', function(e) {
	    console.log(e)
		// let x = $(this).data('id')
		// console.log('x', x)


		// $.ajax({url: `/users/${user_id}/jobs/${job_id}/remove_contact`, data: c_id, type: "PATCH"})


	})
}




var clicks = 0

$(function () {

  $("i.doc").on('click', function() {
    var id = this.id
    console.log('doc')

  	if (clicks % 2 == 0) {
	    $('.document.'+id).css('display', 'block')
    	clicks++
	}
	else {
		$('.document.'+id).css('display', 'none')
		clicks++
	} 
  });

});



var clicks = 0

$(function () {

  $("i.contact").on('click', function() {
    var id = this.id
    console.log('contact')

  	if (clicks % 2 == 0) {
	    $('.contact.'+id).css('display', 'block')
    	clicks++
	}
	else {
		$('.contact.'+id).css('display', 'none')
		clicks++
	} 
  });

});


var clicks = 0

$(function () {

  $("i.task").on('click', function() {
    var id = this.id
    console.log('task')

  	if (clicks % 2 == 0) {
	    $('.task.'+id).css('display', 'block')
    	clicks++
	}
	else {
		$('.task.'+id).css('display', 'none')
		clicks++
	} 
  });

});



</script>











