<style>

span.remove:hover {
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24),0 4px 6px 0 rgba(0,0,0,0.19);
}

</style>




<div class='user-id' data-id="<%= @contact.user.id %>"></div>
<div class='contact-id' data-id="<%= @contact.id %>"></div>


<div id='top'>

	<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>

	<div class='details-container'>
		<h3>WORKPLACE: <%= @contact.workplace %></h3>
		<h3>EMAIL: <%= @contact.email %></h3>
		<h3>PHONE: <%= @contact.phone %></h3>


		<div id='contact_reference'></div>
		<div id='reference-btn'></div>


	   <td><%= link_to "Edit", edit_user_contact_path(@contact.user, @contact) %></td>
	    <td><%= link_to "Delete", user_contact_path(@contact.user, @contact), :method => :delete %></td>

	</div>

</div>


<div id='bottom'>
      
    <div class='col-20'>.</div>

    <div id='jobs' class='links-col-50 left-col-50'>
        <h2>LINKED JOBS</h2>

        <div class='linked-items'>
            <% if @contact.jobs.length > 0 %>
                <%= render partial: "jobs/job", collection: @contact.jobs || "No Linked Jobs" %>
            <% else %>
                <h3>No linked jobs</h3>
            <% end %>
        </div>

    </div>


    <div id='tasks' class='links-col-50 right-col-50'>
        <h2>TASKS</h2>

        <div class='linked-items'>
            <% if @contact.tasks.length > 0 %>
                <%= render partial: "tasks/task", collection: @contact.tasks || "No Linked Tasks" %>
            <% else %>
                <h3>No linked tasks</h3>
            <% end %>
        </div>

    </div>

     <div class='col-20'>.</div>

</div>





<script>



$(document).ready(function () {
	user_id = $(".user-id").data("id")
	contact_id = $(".contact-id").data("id")

	$.get(`/users/${user_id}/contacts/${contact_id}.json`, function(data) {
		contact = new Contact(data, user_id)
	    displayRefDetails(contact)
		buttonRefFunc(contact)

	});
})



const buttonRefFunc = function(contact) {
	$('#add-reference').on('click', function() {
	    $.get(`/users/${user_id}/contacts/${contact_id}/add_reference?q=${!contact.reference}`, function(data) {
	    	$('#contact_reference').empty()
	    	$('#reference-btn').empty()
			$('#contact_reference').append(contact.referenceString(!contact.reference))
			$('#reference-btn').append(contact.referenceButton(!contact.reference))
	    })
	})
}



const displayRefDetails = function (contact) {
	$('#contact_reference').append(contact.referenceString())
	$('#reference-btn').append(contact.referenceButton())
}




</script>


















