
<style>

.linked-items {

}


.linked-items .bullet-item {
}

</style>




<div id='top'>



    <h1><%= @document.title %></h1>
    
    <div class='details-container'>
        <h3><%= @document.description %></h3>
    	<h3 class='link'><%= link_to 'Go to Document', @document.url %></a></h3>
    	<h3>Last update: <%= format_date(@document.updated_at) %></h3>
        <td><%= link_to "Edit", edit_user_document_path(@document.user, @document) %></td>
        <td><%= link_to "Delete", user_document_path(@document.user, @document), :method => :delete %></td>

    </div>

</div>



<div id='mid'>

    <div class='col-4'></div>
      
    <div id='jobs' class='col-4'>
        <h2>LINKED JOBS</h2>

        <div class='linked-items'>
            <% if @document.jobs.length > 0 %>
                <%= render partial: "jobs/job", collection: @document.jobs || "No Linked Jobs" %>
            <% else %>
                <h3>No linked jobs</h3>
            <% end %>
        </div>

    </div>


    <div id='tasks' class='col-4'>
        <h2>TASKS</h2>

        <div class='linked-items'>
            <% if @document.tasks.length > 0 %>
                <%= render partial: "tasks/task", collection: @document.tasks || "No Linked Tasks" %>
            <% else %>
                <h3>No linked tasks</h3>
            <% end %>
        </div>

    </div>

    <div class='col-4'></div>
    
</div>

